@page
@model RokPrzestepnyZBaza.Pages.DeleteModel
@{
}

<h1 class="display-4">Czy na pewno chcesz usunąć ten rekord</h1>
<br />
<form method="post">
    <a class="btn btn-warning" asp-page="Historia">Nie</a>
    <button class="btn btn-danger" type="submit">Tak</button>
</form>